@font-face {
    font-family: "Fire Code";
    src: url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
}

:root {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

body {
    font-family: "Fira Code", "Courier New", "Courier", "monospace";
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 0);
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -200px;
    margin-right: -200px;
    border-color: rgb(50, 150, 50);
}

/* 404 Styling */
div.not-found {
    text-align: center;
    font-size: 200%;
    color: rgb(150, 0, 0);
}